<div class="liver_contents">
    <div class="title">
        <div class="title_space">
            <img src="/img/TALENTStag.png" alt="" class="maintag">
        </div>
    </div>
    <div class="liver_item">
        <div class="liver_back "><img src="/img/liver/{{liver.img}}_back.png" alt="" class="liver_img"></div>
        <div class="liver_pr">
            <h2>{{liver.name}}</h2>
            <div class="liver_text">{{liver.message}}</div>
            <div class="liver_sns">
                <a href="{{liver.url}}">YouTube</a>
                <a href="{{liver.x}}">X</a>
                <a href="{{liver.tiktok}}">TikTok</a>
            </div>
        </div>
    </div>
</div>