<div class="topic_contents">
    <div class="title">
        <div class="title_space">
            <img src="/img/NEWStag.png" alt="" class="maintag">
        </div>
    </div>
    <div class="topic_item">
        <h3>{{news.date_ap}}</h3>
        <div class="title_space"><h2>{{news.title}}</h2></div>
        <img src="/img/news/{{news.img}}" alt="news_sm">
        <div class="text_field">
            <div class="text">{{{breaklines news.detail}}}</div>
            <a href="{{news.link}}">{{news.link_tag}}</a>
        </div>
    </div>
</div>